@tailwind base;
@tailwind components;
@tailwind utilities;

[type='checkbox']:checked {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="(24, 23, 31)" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>');
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  @apply w-full ;
}


/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  @apply h-2;
  
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -9px; /* Centers thumb on the track */
  @apply bg-almostwhite rounded-full h-7 w-7;

}



/******** Firefox ********/
input[type="range"]::-moz-range-track {
  @apply bg-verydarkgrey h-2;  
}

input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  @apply bg-almostwhite rounded-full h-7 w-7;
}

/** FF*/
input[type="range"]::-moz-range-progress {
  @apply h-2;
  @apply bg-neongreen;
}
input[type="range"]::-moz-range-track {  
  @apply h-2;
  @apply bg-verydarkgrey;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  @apply h-2;
  @apply bg-neongreen;
}
input[type="range"]::-ms-fill-upper {  
  @apply h-2;
  @apply bg-verydarkgrey;
}